# SPDX-FileCopyrightText: Menix-OS Team <info@menix-os.org>
# SPDX-License-Identifier: LGPL-2.1-or-later

# This file contains all Codeowners. The owners of the specified
# files will be automatically requested for review when a PR is opened.

*						@marv7000
.github/*				@ByteOtter
echo/					@ByteOtter
